*.py[cdo]
*.log


# Virtual Environment
env/
venv/

# Packages
*.egg
*.egg-info
build
dist

# Documentation
doc/_build

# Geonames Data
carmen/data/dump/
/geonames_data
geoname_mapping/Geonames

# Mac OSX Files
.DS_Store

# PyCharm files
/.idea