*.py[cdo]

# Virtual Environment
env/

# Packages
*.egg
*.egg-info
build
dist

# Documentation
doc/_build

# Geonames Data
carmen/data/dump/
/geonames_data

# Mac OSX Files
.DS_Store

# PyCharm files
/.idea